body {
    font-size: 16px;
    font-family: 'PingFangSC-Light,PingFang SC';
    font-weight: 300;
    /* font: 16px 'Microsoft YaHei','宋体', Tahoma, Arial, sans-serif; */
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.fz28{
    font-size: 14px;
}
.fz32{
    font-size: 16px;
}  
/* 超链接颜色 */
.alink{
  color: #000;
  display: block;
}
.alinkwhite{
  color: #fff;
  display: block;
}
/* 字号 */
/* 主题中字号 */
.lg-fontsize{
    font-size: 24px;
}
.normal-fontsize{
    font-size: 16px;
}
/* 主题小中字号 */
.m-fontsize{
    font-size: 15px;
}
/* 主题小字号 */
.s-fontsize{
    font-size: 14px;
}

/* 按钮 */
.large-btn{
    width:343px;
    height:48px;
    line-height: 48px;
    border-radius:6px;
    color:#fff;
    font-size: 16px;
    background:#FF8720;
    text-align: center;
    margin: 0 auto;
}
.mid-btn{
    width:311px;
    height:48px;
    line-height: 48px;
    border-radius:6px;
    color:#fff;
    font-size: 16px;
    background:#FF8720;
    text-align: center;
    margin: 0 auto;
}



/* 橘色系 */
.theme-text-color{
    color:#FF8720
}
.theme-bg{
    background:#FF8720;
}

/* 灰色系 */
.boder-bg{
    background: #F0F0F0;
}
.content-bg{
    background: #F7F6F9;
}
  
.text-placeholder{
    color:#9B9B9B;
}

/* 红色系 */
.text-wranning{
    color:#FF001F;
}
.text-tips{
    color:#F14955;
}

.artile{
    color:#764319;
}


/* 顶部 */
header{
    width:375px;
    height:60px;
    line-height: 60px;
    text-align: center;
    font-size:18px;
    color:#000;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:250;
    color:rgba(0,0,0,1);
    border-bottom: 1px solid #E7E8E9;
    
}



/* 底部 */
footer{
    box-shadow:0px -2px 4px 0px rgba(0,0,0,0.07);
    position: fixed;
    width:375px;
    height: 60px;
    left:0;
    bottom:0;
    padding-top: 10px;
    box-sizing: border-box;
  }
  footer ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items:center;
    display: -webkit-flex;
   
  }
  footer ul li{
    flex: 1;
    text-align: center;
    font-size: 11px;
  }
  footer ul li img{
    width: 19px;
    text-align: center;
    display: inline-block;
  }
  footer .footer_ed{
    color:#FF8720;
  }

  .direction_icon{
    width: 18px;
  }
  
  .w100{
    width: 100%;
  }

  /* 标题 */
  .common_title{
    height: 16px;
    padding-left: 6px;
    border-left: 4px solid #FF8720;
    line-height: 16px;
    font-size: 16px;
    color: #000000;
    font-weight:500;
  }
  /* 样式下方有滚动调 安全边界是16 */
  .common_content_bar{
    padding:24px 16px 60px 16px;
  }
  
  /* 下拉框样式 */
  .formItemSelect{
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    height: 52px;
    line-height: 52px;
    background: url(../img/right.png) no-repeat right center;
    background-size: 18px 18px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
  }
  .formItemSelect .label{
    font-size: 16px;
    font-weight:300;
  }
  .formItemSelect .itemValue{
    font-size: 14px;
    font-weight: 300;
  }
  .formItemSelect  .inputControl{
    text-align: right;
    font-size: 14px;
  }

  /* 去完成任务 */
  .taskList li{
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    margin-bottom: 18px;
  }
  .taskList{
    margin-top: 18px;
  }
  .taskList li .label{
    margin-right: 24px;
  }
  .taskList li .count{
    font-weight:500;
    color: #FF8720;
    font-size: 16px;
  }
  
  .taskList li .tasAction{
    display: inline-block;
    width: 78px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    float: right;
    border-radius: 15px;
    border:1px solid rgba(255,135,32,1);
    color: #FF8720;
    font-size: 14px;
  }
  /* 举例顶部举例 */
  .toTop12{
    height: 12px;
    background:rgba(246,247,248,1);
  }
  
