body {
    font-size: 16px;
    font-family: 'PingFangSC-Light,PingFang SC';
    font-weight: 300;
    /* font: 16px 'Microsoft YaHei','宋体', Tahoma, Arial, sans-serif; */
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.fz28{
    font-size: 14px;
}
.fz32{
    font-size: 16px;
}  
/* 超链接颜色 */
.alink{
  color: #000;
  display: block;
}
.alinkwhite{
  color: #fff;
  display: block;
}
/* 字号 */
/* 主题中字号 */
.lg-fontsize{
    font-size: 24px;
}
.normal-fontsize{
    font-size: 16px;
}
/* 主题小中字号 */
.m-fontsize{
    font-size: 15px;
}
/* 主题小字号 */
.s-fontsize{
    font-size: 14px;
}

/* 按钮 */
.large-btn{
    width:343px;
    height:48px;
    line-height: 48px;
    border-radius:6px;
    color:#fff;
    font-size: 16px;
    background:#FF8720;
    text-align: center;
    margin: 0 auto;
}
.mid-btn{
    width:311px;
    height:48px;
    line-height: 48px;
    border-radius:6px;
    color:#fff;
    font-size: 16px;
    background:#FF8720;
    text-align: center;
    margin: 0 auto;
}



/* 橘色系 */
.theme-text-color{
    color:#FF8720
}
.theme-bg{
    background:#FF8720;
}

/* 灰色系 */
::-webkit-input-placeholder{/*Webkit browsers*/
  　　　　color:#9B9B9B;
}
  　　　　:-moz-placeholder{/*Mozilla Firefox 4 to 8*/
    　　　　color:#9B9B9B;
  　　　　}
  　　　　::moz-placeholder{/*Mozilla Firefox 19+*/
    　　　　color:#9B9B9B;
  　　　　}
  　　　　:-ms-input-placeholder{/*Internet Explorer 10+*/
    　　　　color:#9B9B9B;

  　　　　}
.boder-bt-bg{
    border-bottom: 1px solid #f0f0f0;
    font-weight:lighter;
}
.content-bg{
    background: #F7F6F9;
}
  
.text-placeholder{
    color:#9B9B9B;
}
.btn-ed{
  background: #D4D5D6;
}

/* 红色系 */
.text-wranning{
    color:#FF001F;
    margin:8px 0;
}
.text-tips{
    color:#F14955;
}
.text-success{
  color:#43B03E
}
.warnning-bg{
  background:#F14955;
}
.bussiness-successcolor{
    color:#764319;
}
.text
/* 间距 */
.mb30{
  margin-bottom: 30px;
}
.mt40{
  margin-top: 40px;
}
.mt10{
  margin-top: 10px!important;
}
.mt10{
  margin-top: 10px!important;
}
.mt24{
  margin-top: 24px;
}

/* 顶部 */
header{
    width:375px;
    height:60px;
    line-height: 60px;
    text-align: center;
    font-size:18px;
    color:#000;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:250;
    color:rgba(0,0,0,1);
    border-bottom: 1px solid #E7E8E9;
    
}



/* 底部 */
footer{
    box-shadow:0px -2px 4px 0px rgba(0,0,0,0.07);
    position: fixed;
    width:100%;
    height: 60px;
    left:0;
    bottom:0;
    padding-top: 10px;
    box-sizing: border-box;
    z-index: 11111;
    background: #fff;
  }
  footer ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items:center;
    display: -webkit-flex;
   
  }
  footer ul li{
    flex: 1;
    text-align: center;
    font-size: 11px;
  }
  footer ul li img{
    width: 19px;
    text-align: center;
    display: inline-block;
  }
  footer .footer_ed{
    color:#FF8720;
  }

  .direction_icon{
    width: 18px;
  }
  
  .w100{
    width: 100%;
  }

  /* 标题 */
  .common_title{
    height: 16px;
    padding-left: 6px;
    border-left: 4px solid #FF8720;
    line-height: 16px;
    font-size: 16px;
    color: #000000;
    font-weight:500;
  }
  /* 样式下方有滚动调 安全边界是16 */
  .common_content_bar{
    padding:24px 16px 60px 16px;
  }
  
  /* 下拉框样式 */
  .formItemSelect{
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    height: 52px;
    line-height: 52px;
    background: url(../img/right.png) no-repeat right center;
    background-size: 18px 18px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
  }
  .formItemSelect .label{
    font-size: 16px;
    font-weight:300;
  }
  .formItemSelect .itemValue{
    font-size: 14px;
    font-weight: 300;
  }
  .formItemSelect  .inputControl{
    text-align: right;
    font-size: 14px;
  }

  /* 去完成任务 */
  .taskList li{
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    margin-bottom: 18px;
  }
  .taskList{
    margin-top: 18px;
  }
  .taskList li .label{
    margin-right: 24px;
  }
  .taskList li .count{
    font-weight:500;
    color: #FF8720;
    font-size: 16px;
  }
  
  .taskList li .tasAction{
    display: inline-block;
    width: 78px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    float: right;
    border-radius: 15px;
    border:1px solid rgba(255,135,32,1);
    color: #FF8720;
    font-size: 14px;
  }
  /* 举例顶部举例 */
  .toTop12{
    height: 12px;
    background:rgba(246,247,248,1);
  }

  /* 弹窗 */
  .fixed{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,1);
  }

  .diaglog{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
    flex-wrap: wrap;
  }
  .diaglogInnder{
    margin:0 40px;
    width: 100%;
  }
  .diaglogInnder .diaglogCon{
    padding: 30px 22px;
    background: #fff;
    text-align: center;
    font-family:Microsoft YaHei UI;
    font-weight:300;
    border-radius: 20px;
    position: relative;
    font-size: 17px;
  }

  .diaglogInnder .diaglogCon .text{
    text-align: justify;
    line-height: 30px;
  }

  .diaglogInnder .diaglogCon .title{
    color:#FF8720;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .diaglogInnder .closebtn{
    width: 36px;
    width: 36px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .diaglogInnder  .diaglogoBtn{
    color: #fff;
    height: 48px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #FF8720;
    text-align: center;
    line-height: 18px;
    font-weight: normal;
    padding: 16px 40px;
    display: inline-block;
    box-sizing: border-box;
  }