/* 安全检测 */
.safety{
  padding:60px 20px 2400px;
  text-align: center;
}
.sefety_avatar{
  width: 120px;
  margin:0 auto;
  margin-bottom: 24px;
}
.safety_tips{
  margin-bottom: 24px;
}

/* 认证信息 */
.certification{
  padding:0 32px;
  background: #fff;
}
/* 实名认证 */
.shiming-tips{
  margin-top: 13px;
}
.shimingImg{
  width: 197px;
  height:138px;
  background: blue;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin:14px auto 0;
}
.shimingbtn{
  margin-top: 24px;
}
.certification h4{
  width:375px;
  height:60px;
  line-height: 600px;
  text-align: center;
  font-size:18px;
  color:#000;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:250;
  color:rgba(0,0,0,1);
  border-bottom: 1px solid #E7E8E9;
}
.certification_tips1{
  font-weight:150;
  color:rgba(241,73,85,1);
  background: #F6F7F8;
  font-size: 14px;
  padding:19px 32px;
}
.certification_tips2{
  font-weight:150;
  color:#000;
  height: 37.5px;
  background: #F6F7F8;
  font-size: 14px;
  padding:19px 32px;
}

.input_box{
  height: 54px;
  line-height: 54px;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0;
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items:center;
  display: -webkit-flex;
  
}
.certificationRight{
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items:center;
  display: -webkit-flex;
}
.certificationName{
  margin-right: 10px;
}

/* 帮助反馈 */
.helpTop{
  width: 100%;
  height: 12px;
  background: rgb(229, 229, 229);
}
.help{
  padding:19px 32px 45px;
  margin-top: 12px;
  background-color: #fff;
}
.help ul li{
  border-bottom:1px solid #F0F0F0;
  height: 52px;
  line-height: 52px;
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items:center;
  display: -webkit-flex;
}
.help ul li label{
  font-size: 16px;
  font-weight: 300;
}
.feedback_btn{
  position: fixed;
  top: 414px;
  right:32px;
  width: 72px;
}

/* 商业调查 */
.business{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/business-bg.png) no-repeat;
}
.business_title{
  position: absolute;
  left: 20px;
  top: 48.5px;
}
.business_tips{
  position: absolute;
  left: 20px;
  top: 48.5px;
}
/* 修改手机号 */
.change_phone{
  padding:10px 32px;
}
.phone_num input{
  width: 316px;
  height: 40px;
  line-height: 40px;
  color:#9B9B9B;
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #9B9B9B;
  ;
}
/* 登录 */
.login{
  position: relative;
}
.loginh4{
  margin-bottom: 35px;
}
.topImg{
  width: 96.5%;
  position: relative;
}
.topImg img{
  width: 100%;
  display: block;
}
.goRegister{
  position: absolute;
  right: 0px;
  top: 8px;
}

.loginTitle{
  padding:0 16px;
  margin-top:-100px;
}
.loginPhonebox{
  padding:0 16px;
}
.loginPhonebox input{
  font-size: 16px;
  height: 30px;
  width: 100%;
  color:#9B9B9B;
  border-bottom:1px solid #666;
  margin:24px 0;
}
.forgetLogin{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items:center;
  display: -webkit-flex;
  color:#000;
  margin-top: 20px;
}
.login-a{
  display: block;
  color:#fff;
}
/* 个人中心 */
.satementsa{
  display: block;
}
.personalTop{
  width: 375px;
  height: 227px;
  background: #FE8C2A;
  padding-top:20px;
 
}
.personalInner{
  padding:0 16px;
  box-sizing: border-box;
  position: absolute;
  top: 18px;
  overflow: hidden;
}
.statements{
  width: 300px;
  padding:7px 23px 6px 20px;
  background: #fff;
  border-radius: 20px;
  margin:0 auto;
  display: flex;
  font-size:12px;
}
.statements span{
  width: 18px;
  height: 15px;
  margin-right: 6px;
}
.statements .goStatement span img{
  width: 100%;
  display: block;
}
.statements .goStatement{
  display: block;
}
.levelBox{
  display: flex;
  display: -webkit-flex;
  justify-content:space-between;
  margin-top: 10px;
  align-items: center;
  
}
.level-avatar{
  width: 72px;
  height: 72px;
  margin-right: 12px;
}
.personal-info{
  color:#fff;
  margin-left:-85px
}
.level-bitmap{
  width: 66px;
}
.grayBg{
  width: 375px;
  height: 152px;
  background: #F5F7F9;
}
.medal{
  text-align: center;
}
.level-text{
  width: 60px;
  height: 18px;
  font-size: 12px;
  color:#5E6A70;
  background: url(../img/silver-bg.png);
  background-size: 100% 100%;
}
.beana{
  color:#000;
  display: block;
}
.beanBox{
  width: 343px;
  height: 93px;
  background: #fff;
  border-radius: 6px;
  align-items: center;
  display: flex;
  display: -webkit-flex;
  margin-top: 35px;
  justify-content: space-around;
}
.lunboAds{
  width: 343px;
  height: 79px;
  margin-top: 12px;
}

.personalBox{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-top: 21px;
  justify-content: start;
  margin-right: -72px;
  padding-left: 16px;
  /* width: 100%; */
}

.personalBox li{
  width: 56px;
  text-align: center;
  font-size: 12px;
  margin-right: 72px;
  margin-bottom: 24px;
}

.personalBox li img{
  width: 32px;
  display: inline-block;
}
.personalBox li img.w22{
  width: 22px;
}

/* .personalBox{
  display: flex;
  display: -webkit-flex;
  align-items:center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-top: 21px;
  justify-content: space-around;
}
.personalBox li{
  flex: 1 1 33.33%;
  text-align: center;
  font-size: 12px;
}
.personalBox li img{
  width: 32px;
} */
/* 滑动验证 */

.slide{
  width: 343px;
  position: relative;
  height: 44px;
  margin-top: 10px;
  border:1px solid #D1CED1;
}
.iconToright{
  position: absolute;
  left: 0;
  top:0;
  width: 44px;
  height: 43px;
  border-left:none;
  border:1px solid #D1CED1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
}
.iconToright img{
  width: 20px;
  height: 26px;

}
.login_yzm{
  padding:49px 32px;
}
.slideText{
  width: 299px;
  height: 43px;
  line-height: 43px;
  background: #F7F7F7;
  border:1px solid #D1CED1;
  display: inline-block;
  margin-left: 46px;
  text-align: center;
  border-left:0;
  color: #FF8721;
  display: flex;
  justify-content: center;
  align-items: center;
}
.changeImg{
  position: relative;
}
.yzRightop{
  position: absolute;
  right: 14px;
  top:8px
}
.yzRightop {
  display: flex;
  display: -webkit-flex;
  width: 45px;
  justify-content: space-between;
}
.yzRightop img{
  width: 16px;
  height: 16px;
}
.get-yzm{
  color:#FF8720;
  width: 113px;
  position: absolute;
  right: 0;
  bottom: 32px;
  text-align: center;
  border-left: 1px solid #9B9B9B;
}
/* 快速登陆 */

.go{
  width: 21px;
  height: 24px;
  margin-right: 20px;

}
.quick-btn-yzed{
  color: #FF8720;
  background: #FEF2E5;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.quick-btn-yz{
  color: #FF8720;
  background: #F7F7F7;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.quick-login{
  color:#000;
  margin-top: 20px;
  text-align: center;
}
.quick-logina{
  color:#000;
  text-align: center;
  margin-top: 20px;
}
.login-yz{
  position: relative;
}
.countdown{
  width: 113px;
  position: absolute;
  right: 0;
  color: #9B9B9B;
  bottom: 32px;
  text-align: center;
  border-left: 1px solid #9B9B9B;
}
/* 忘记密码 */
.forget-yzbtn{
  color:#FF8720;
  background:#F6F7F8;
}
/* 忘记密码重置成功 */
.resetsuccessBox{
  color: #FF8720;
  padding:145px 54px 54px;
  text-align: center;
}
/* 账号 */
.account{
  margin-top:12px;
}
.accuntConfig{
  font-weight:150;
  color:#000;
  background: #fff;
  font-size: 14px;
  padding:19px 32px;
}
.solve{
     flex-wrap: nowrap;
     justify-content: center;
     display: -webkit-flex;
     padding-bottom: 15px;
}
.solve img{
  width: 128px;
  margin:0 8px;
}
/* 奖金记录 */
 .tabBox{
   display: flex;
   height: 60px;
   justify-content:space-around;
   align-items:center;
   display: -webkit-flex;
   border-bottom: 1px solid #EEEEEE;
 }
 .tabBox li{
  flex: 1;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
  line-height: 60px;
  position: relative;
 }
 .tabBox li .activeborder{
   display: none;
 }
 .tabBox li.active .activeborder{
   display: block;
   border:1px solid #FF8720;
   width: 40px;
   height: 1px;
   background-color: #FF8720;
   position: absolute;
   left: 50%;
   transform: translate(-50%,-2px);
 }
 .recordBox{
   padding:0 32px;
 }
 .recordBox ul li{
   height: 90px;
   justify-content:space-between;
   align-items: center;
   display: flex;
   display: -webkit-flex;
   border-bottom: 1px solid #F3F0F1;
 }
 .recordeRight{
  align-items: center;
  display: flex;
  display: -webkit-flex;
 }
 .recordeRight img{
   width: 28px;
 }
 .record-num{
  color:#FF8720;
  font-size:18px;
 }
 .record-rednum{
   color: #F14955;
 }
/* 账号设置 */
.accunt_config{
  background:#F6F7F8;
}
.dingyue{
  margin: 10px 0;
}
/* 站内信 */
.zhanneixina{
  color:#000;
  display: block;
}
.message{
  background:#F6F7F8;
  margin-top: 12px;
}
.message ul li{
  background: #fff;
  margin-bottom: 10px;
  padding:24px 32px;
  line-height: 24px;
}
.message_ctn{
  display: flex;
  flex-wrap: nowrap;
  justify-content:flex-start;
  align-items:center;
  display: -webkit-flex;
}
.message_ctn i{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #F14955;
  display: inline-block;
  margin-right: 5px;
}
.date{
  font-size:14px;
  color:#9B9B9B;
}
/* 站内信正文 */
.messageContent{
  padding:25px 16px 0;
  font-size: 14px;
}
.messageTile{
  font-weight: bold;
  font-size: 18px;
}
.messageSubtitle{
  display: flex;
  justify-content:space-between;
  align-items:center;
  display: -webkit-flex;
  margin-top: 12px;
  
}
.messageRight{
  display: flex;
  justify-content:space-between;
  align-items:center;
  display: -webkit-flex;
  width: 170px;
}
.messageRight li{
  color: #FF8720;
}
.messageImg{
  width: 343px;
  height: 157px;
  background:#E3E4E6;
  margin-top: 24px;
}
.messageInfo{
  margin-top:8px;
}
.messageInfo p{
  margin-bottom: 20px;
}
/* 系统公告 */
.announcement{
  background:#F6F7F8;
}
.announcement ul li{
  background: #fff;
  margin-bottom: 10px;
  padding:24px 32px;
  line-height: 24px;
}
.announcement ul li a{
  color:#000;
}
.announcement_ctn{
  display: flex;
  flex-wrap: nowrap;
  justify-content:flex-start;
  align-items:center;
  display: -webkit-flex;
}
.announcement_ctn i{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #F14955;
  display: inline-block;
  margin-right: 5px;
}

/* 注册 */
/* 绑定手机号 */
.register_phonebox{
  padding:0 16px;
  margin-top:-100px;
}
.register_phonebox{
  margin-bottom: 30px;
}
.register_phonebox input{
  font-size: 16px;
  width: 100%;
  color:#9B9B9B;
  border-bottom:1px solid #666;
}
.zhuce-phone{
  margin-bottom: 60px;
}

.login_yzmtips{
  color:#FF8720;
  text-align: left;
}
/* 注册验证码 */
.register_yzmbox{
  padding:0 16px;
  margin-top:-100px;
}

.sent{
  margin:12px 0 45px 0;
}
.sent span{
  color:#9B9B9B;
  margin-right: 12px;
  display: inline-block;
}
.yzm_num{
  margin-bottom: 30px;
}
.yzm_num span{
  width: 47.15px;
  display: inline-block;
  text-align: center;
  /* color:#ccc; */
  border-bottom: 1px solid #ccc;
}
.resent{
  width: 343px;
  height: 48px;
  line-height: 96px;
  background: #FF8720;
  border-radius: 6px;
  text-align: center;
  color:#fff;
}
/* 注册完善 */
.register_complete{
  padding:45px 16px 0;
  text-align: center;
}
.register_avatar{
  width: 120px;
  margin:0 auto;
}
.register_completebox{
  margin-bottom: 24px;
  overflow: hidden;
}
.register_completebox .answerList{
  height: 45px;
  line-height: 45px;
  text-align: left;
  overflow: hidden;
  border-bottom:1px solid #ccc;
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items:center;
  display: -webkit-flex;
  font-size: 16px;
}
.radioChoose{
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items:center;
  display: -webkit-flex;
}
.radioItem{
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items:center;
  margin-right: 70px;

}
.register_completebox div input{
  font-size: 16px;
}
.radioChoose .radioItem input[type="radio"]{
	opacity: 0;
}
.radioChoose .radioItem.active span{
	background-image: url('../img/select-ed.png');
}
.radioChoose .radioItem .radiosex{
  display: inline-block;
	vertical-align: middle;
	width:18px;
	height:18px;
	background: url('../img/select.png') no-repeat center center/100%;
	margin-right: 0.1rem;
}
.passwordInput{
  margin-right: 50px;
}

/* 注销 */
.cancellation{
  padding:121px 23px 278px 32px;
  text-align: center;
}
.cancellation-tips{
  margin-bottom:24px;
}
.cancellation-warnning{
  color:#F14955;
  margin-bottom:24px;
}
.cancellation-btn{
  margin-left:0px;
}

/* 会员等级 */
.userLeve .header{
  height: 353px;
  background-color: #3A2C51;
}
.userLeve .header .nav{
  padding:18px 0;
  font-size: 16px;
  color:#9B9B9B;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.userLeve .header .nav li.active{
  color:#fff
}

.userLeve .header .leveIcon{
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 7px;
}

.userLeve .header .table{
 width: 343px;
 margin: 0 auto;
 display: flex;
 background-color: #fff;
 border-radius: 6px;
 overflow: hidden;
}
.userLeve .header .table li{

  font-size: 12px;
  flex: 1;
  text-align: center;
}
.userLeve .header .table div{
  padding: 12px 13px;
  height: 31px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.userLeve .header .table div.title{
  background-color: #FFEED3;
}

.userLeve .description{
  font-size:16px;
  line-height:32px;
  text-align: justify;
  margin-top: 16px;
  font-weight: 300;
  margin-bottom: 24px;
}


/*  基础信息 */
.baseInfo .header{
  padding:18px 32px;
  background-color: #F6F7F8;
}
.baseInfo .header p{
  font-size: 16px;
  font-weight:300;
  line-height: 32px;

}
.baseInfo .header span{
  font-size: 16px;
  font-weight:300;
  color: #FF8720;
  font-weight:500;
}

.baseInfo .content{
  padding: 0 32px;
}

/* 信用等级 */
.levala{
  color:#fff;
  display: block;
}
.credit .description{
  font-size: 16px;
  line-height: 32px;
  text-align: justify;
  margin-top: 16px;
  font-weight: 300;
  margin-bottom: 24px;
}

.credit .levelrule{
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 33px;
}
.credit .levelrule li{
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  height: 124px;
  display: flex;
  border-right: 1px solid #D4D5D6;
}
.credit .levelrule.ruletable li{
  height: 194px;
}
.credit .levelrule li div{
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #D4D5D6;
}
.mainTitle{
  background:rgba(255,218,157,1);
  color:#8B572A
}
.smalltitle{
  background:rgba(255,238,211,1);
  color:#8B572A
}
.distitle{
  background-color: #D5D7D9;
  box-sizing: border-box;
  padding-right: 4px;
  padding-left: 4px;
}
.credit .levelrule li.secondrule{
  flex: .3;
}

/* 私家车信息 */
.cardinfo{
  padding-left: 32px;
  padding-right: 32px;
  background-color: #fff;
}

/* 只能家电 */
.smartTv .card{
  padding-left: 32px;
  padding-right: 32px;
}
.smartTv .subject li{
 padding-top: 18px;
 padding-bottom: 18px;
 border-bottom: 1px solid rgba(0,0,0,0.06);;
 display: flex;
 align-items: center;
}

.smartTv .subject li input{
  margin-right: 6px;
}
.smartTv .subject li .num{
  color:#9B9B9B;
  font-size: 16px;
}
.smartTv .subject li .type{
  margin-left: 6px;
  margin-right: 6px;
  display: inline-block;
  color: #FF8720;
}

